@font-face { 
    font-family: 'Hind', sans-serif;
}

h1, h2{
    color:black;
}

body {
  margin: 0;
    font-family: "Hind";
}

html { 
    position: relative;
    width: 100%;
    height: 40em;
    text-align: center;
    color: #fff;
    background-image: url(../asset/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .content {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

header .content h1 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: 300;
    font-size: 60pt;
    color:white;
}

header .content h2 {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 30pt;
    font-weight: 300;
    color:white;
}

header .content img {
    margin-top: -3em;
    max-height: 10em;
    max-width: 10em;
}


#logo {
    display: block;
    float:left;
    max-height: 300%;
    max-width: 300%;
    margin-top: -2.25em;
    margin-left: 1em;
}


#nav {
    display: block;
    height: 35px;
    margin-top: -.5em;
    background-color: rgba(255,255,255,0.0);
}
 
#nav ul { 
    list-style: none; padding: 0 1em;
}
 
#nav ul li { 
    display: inline; float: right;
}

#nav ul li a { 
    display: block; 
    padding: 0 8px; 
    font-size: 1.3em;
    text-decoration: none;
    line-height: 35px; 
    margin-right: 6px;
    font-family: "Hind";
    color:white;
}

a:visited, a:hover, a:hover, a:focus, a:active{
    text-decoration: none;
    color:black;
}

#fullwrapper{
    width:100%;
    background-color: white;
}

#wrapper {
    width:90%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}

#wrapper h1, #wrapper h2, #left h1, #right h1 {
    text-align: center;
    font-family: 'Hind';
    font-weight: lighter;
    font-size:26pt;
}

#left h1, #right h1 {
    font-size: 18pt;
    margin-top: -1em;
}

#team img, #team img {
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
    max-width:50%;
    max-height:50%;
    margin-bottom: 2em;
}

#team a{
    text-decoration: none;
}

#wrapper h2{
    font-size: 14pt;
    margin-top: -.5em;
    text-align: center;
    font-size:20pt;
    margin-top: -.5em;
}

#wrapper h3{
    font-size: 16pt;
    text-align: center;
    color:black;
    font-weight: 300;
}

#wrapper h4{
    font-size: 14pt;
    text-align: center;
    color:black;
    font-weight: 300;
    margin-top: -1em;
}

#wrapper p{
    font-size:18pt;
    font-weight: 300;
    color:black;
    position: relative;
    top: 50%;
    margin-top: 10em;
}

#about {
    margin-top: 5em;
}

#demoimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:50%;
    max-height:50%;
}
